## -*- coding: utf-8 -*-
<%inherit file="story.tmpl"/>

<%block name="content_head">
    <div class="topic">
        <div class="container">
            <div class="col-md-4">
                <img alt="FunkFeuer" src="http://hotspot.funkfeuer.at/static/img/logo_square_char_scaled.png">
            </div>
            <div class="col-md-8">
                <h3>Funkfeuer ist ein freies, experimentelles Bürgernetzwerk.</h3>
                <h4>
                    Wir haben uns freie Kommunikation und Informationszugang 
                    ohne kommerzielle Interessen und Anbieter zur Aufgabe 
                    gemacht und betrieben gemeinschaftlich unabhängige Infrastruktur.
                </h4>
            </div>
        </div>
    </div>
</%block>

